<dom-module id="kudos-login">
    <div id="firebaseui-auth-container"></div>
</dom-module>
<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
<script>
  Polymer({
    is: 'kudos-login',
    ready:function(){
        var config = {
            apiKey: "AIzaSyBiBdm3MheV4sN7lfk0WLoVDtXXxHxbbvk",
            authDomain: "devnovators.firebaseapp.com",
            databaseURL: "https://devnovators.firebaseio.com",
            storageBucket: "devnovators.appspot.com",
          };
        firebase.initializeApp(config);
        var uiConfig = {
                'signInSuccessUrl': '/widget',
                'callbacks': {
                  'signInSuccess': function(user, credential, redirectUrl) {
                    if (window.opener) {
                      window.close();
                      return false;
                    } else {
                      return true;
                    }
                  }
                },
                'signInOptions': [
                  firebase.auth.GoogleAuthProvider.PROVIDER_ID
                ],
                'tosUrl': 'https://www.google.com'
              };
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        ui.start('#firebaseui-auth-container', uiConfig);
    }
  });
</script>